/* banner styles */
.banner{
    font-family: 'Work Sans', sans-serif;
    text-align: right;
    display: flex;background-color:lightgray;
    justify-content: center;

    
    
}

.title{
    color: 
    #151414;
    font-weight: 700;
font-size: 65px;
line-height: 76px;
margin-right: 100px;
    margin-left: 300px;
    margin-top: 150px;
    margin-bottom: 0;



}
.sub-title{
    font-weight: 400;
font-size: 16px;
color: #444343;
margin-right: 100px;
    margin-left: 300px;
}
.primary-button{
    margin-right: 100px;
    margin-left: 300px;
    background: #F15B22;
    border: 0;
border-radius: 5px;
border-color: none;
font-weight: 600;
font-size: 20px;
color: #FFFFFF;
padding: 10px 12px;
}
/* popular belief */
.popularbelief{
    display: flex;
    align-items: center;
  margin: 150px 100px;

}
.second-title{
    font-weight: 700;
font-size: 40px;
margin-right: 450px;
margin-left: 30px;
margin-bottom: 0;
color: #151414;
font-family: 'Work Sans'


}
.title-paragrph{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
margin-right: 200px;
margin-left: 20px;
margin-top: 24px;
}

.items{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 300;
font-size: 16px
color #444343;
    }
   .plan-title{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
margin:0 700px ;
justify-content: center;
   }
   /* my plan */
   .my-plan-layout{
    display: flex;
    justify-content: center;
    margin-right: 400px;
    margin-left: 300px;

    
   }